.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #018762;
    font-weight: 600;
    font-size: 18px;
}